<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>
            {{title}} - 55 Lexington
        </title>
    {% else %}
        Welcome to 55 Lexington
    {% endif %}
</head>
<body>
    <div>55 Lexington Property Management System
        <br> 
        <a href = "{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('login') }}">Login</a>
    </div>
    <hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li> {{message}}</li>
    {% endfor %}
</ul>

{% endif %}
{% endwith %}
{% block content %} {% endblock %}
</body>
</html>
